<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{title}}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/" style="font-size: 40px;">Your Life</a>
        <div class="menu mr-auto" style="font-size: 25px; margin-left: 20px;">
            {% if current_user.is_authenticated %}
            <a href="/" style="font-size: 25px; margin-left: 20px;">Главная</a>
            <a href="/tasks" style="font-size: 25px; margin-left: 20px;">Задачи на день</a>
            <a href="/aims" style="font-size: 25px; margin-left: 20px;">Глобальные цели</a>
            <a href="/habits" style="font-size: 25px; margin-left: 20px;">Привычки</a>
            <a href="/blog" style="font-size: 25px; margin-left: 20px;">Записи</a>
            {% endif %}
        </div>
        {% if current_user.is_authenticated %}
        <a class="navbar-brand" href="/logout" style="font-size: 20px;">{{ current_user.name }}</a>
        {% else %}
        <p>
            <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
            <a class="btn btn-success" href="/login">Войти</a>
        </p>
        {% endif %}
    </nav>
</header>

<main role="main" class="container">
    {% block content %}
    {% if current_user.is_authenticated %}
    <h1 align="center">Мы снова рады видеть Вас на нашем сайте!</h1>
    <h4 align="center">Становимся лучше вместе</h4>
    <img src="{{ url_for('static', filename='bpage2.jpg') }}" style="max-width: 100%; height: auto;">
    {% else %}
    <h1 align="center">YourLife - это сервис, который поможет тебе стать лучше!</h1>
    <h5 align="center">YourLife может всецело заменит вам ваш дневник.
        Здесь вы можете делать ваши записи, отслеживать новые привычки, задачи на день
        и цели. Для этого всего лишь войдите в свой аккаунт или создайте его.</h5>
    <img src="{{ url_for('static', filename='bpage1.jpg') }}" style="max-width: 100%; height: auto;">
    {% endif %}
    {% endblock %}
</main>
</body>
</html>