{% extends "base.html" %}

{% block content %}
<h1 class='border' style="font-size: 60px; margin-left: 20px;">Ваши задачи на сегодня
    <a href="/add_task" style="text-indent: 800 px;">
        <img src="{{ url_for('static', filename='add_icon.jpg') }}">
    </a>
</h1>
<nav>
    {% for item in news%}
    {% if current_user.email == item.author %}
    <div class="col-md6 rounded">
        <label class="container">
            <h1>
                <a href="/change_task/{{ item.id }}">
                    {% if item.is_finished == True%}
                        <img src="{{ url_for('static', filename='done_task.jpg') }}">
                    {% else %}
                    <img src="{{ url_for('static', filename='no_done.jpg') }}">
                    {% endif %}
                </a>
                {{ item.name }}
            </h1>
            <div>
                {{item.about}}
            </div>
            <div>
                <a href="/edit_task/{{ item.id }}" class="btn btn-info btn-sm">Изменить</a>
                <a href="/task_delete/{{ item.id }}" class="btn btn-danger btn-sm">Удалить</a>
            </div>

        </label>
    </div>
    {% endif %}
    {% endfor %}
</nav>

{% endblock %}

